

    <h2>Thank you for your order! (#<%= @order.id %>)</h2>
    <h4>Order for email <%= @order.email %> has been placed</h4>
  </header>

  <div class="order-summary jumbotron">
    <table class="table table-bordered">
      <thead>
        
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %><section class="orders-show">

          <h1>Thank you for your order! (#<%= @order.id %>)</h1>
          <h4>Order for email <%= @order.email %> has been placed</h4>
        </header>
      
        <div class="order-summary jumbotron">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Product</th>
                <th>Description</th>
                <th>Quantity</th>
                
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% @order.line_items.each do |item| %>
              <td><%= item.product.name %></td>
              <td><%=image_tag item.product.image.tiny %></td>
              <td><%= item.product.description %></td>
              <td><%= item.quantity %></td>
              <td><%= item.product.price %></td>
              </tbody>
              <tfoot>
              <tr>
              <th colspan="4">
              TOTAL:
              </th>
              <%= @order.total_price %>
              <% end %>
                <th>
                 
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      
        <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>


      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
<% end %>