<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
            <dd><%= @product.name %></dd>
          <dt>Description</dt>
            <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
            <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
            <dd><%= number_to_currency(@product.price) %></dd>
            <div class="col-sm-8 col-sm-offset-1">
            <div class="review_form"><h4><span class="review_title">Review this product!</span></h4>

              <%= form_for(@review, url: product_reviews_path(@product)) do |f| %>
                <div class="form-group">
                  <%= f.select :rating, options_for_select([["★", "1"], ["★★", "2"],["★★★", "3"],["★★★★", "4"],["★★★★★", "5"]])%>
                <div class="form-group">
                  <%= f.text_area :description, size: "60x2" %>
                <div class="form-group">
                  <%= f.submit 'Submit Review', class: 'btn btn-danger' %>
                
              <% end %>
            </div>
          </div>
      </dl>
    </div>
  </div>
              <div>
                <div class="col-sm-12"><h3><span class="review_title">Reviews</span><h3></div>
                  <div class="reviews_block">
                    <% @product.reviews.each do |r| %>
                      <div class="name_and_rating"><%= r.user.first_name%> <%= r.user.last_name%> <%= r.rating%></div>
                      <div class="review_description">"<%= r.description%>" description </div>
                      <%end%>
                  </div>
              </div>

  </article>
   


</section>
